*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 40vh;
    background: radial-gradient(circle at center,#2a2d55,#0b0d1a);
    
}
.full{
    margin: 100px auto -120px;
    width: 820px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 10px;
    perspective: 1000px;
}
.whole{
    height: 95%;
    width: 30%;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
}
.whole.flipped{
    transform: rotateY(180deg);
    
}
.card{
    position: absolute;
    width: 240px;
    height: 400px;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 20px 40px rgba(0,0,0.5),0 0 25px rgba(255, 215, 0, 0.35);;
    cursor: pointer;
    transition: transform 0.3s ease-out,box-shadow 0.3s ease;
}
.card::after{
    content:"";
    position: absolute;
    inset: 6px;
    border: 1px solid rgba(255,215,0,0.4);
    border-radius: 14px;

}
.card:hover{
    transform: translateY(-8px), width(1.03);
    box-shadow: 0 20px 40px rgba(255, 200, 50, 0.35);
}    
.card.front{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    object-fit: cover;
    font-size: 22px;
    background-image: linear-gradient(135deg, #111827, #1f2933);
    border: 2px solid #fbbf24;
    color: #fbbf24;
    flex-direction:column;
}
.card.front img{
    margin-top: -15%;
    margin-bottom: 12%;
    border: 5px inset rgba(117, 90, 21, 0.788);
    width: 35%;
    border-radius: 50%;
}
.card:hover img{
    border: 5px inset rgba(255, 183, 0, 0.788);
}
.card.back{
    transform: rotateY(180deg);
    background-image: url(/picture/23-removebg-preview.png);
    background-size: 108% 100%;
    background-repeat: no-repeat;
}

/* second card */
.whale1{
    height: 95%;
    width: 30%;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
    
}

.whale1.flipped1{
    transform: rotateY(180deg);
}

.card.front1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-image: linear-gradient(135deg, #111827, #1f2933);
    border: 2px solid #fbbf24;
    color: #fbbf24;
    flex-direction:column;
}
.card.front1 img{
    margin-top: -15%;
    margin-bottom: 12%;
    border: 5px inset rgba(117, 90, 21, 0.788);
    width: 35%;
    border-radius: 50%;
}
.card.back1{
    transform: rotateY(180deg);
    background-image: url(/picture/e3f87a1d-0b51-4bfd-82a8-4161a48a0f61-removebg-preview.png);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-color: gold;
}

.whole2{
    height: 95%;
    width: 30%;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
}
.whole2.flp_1{
    transform: rotateY(180deg);
}
.card.front2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #111827, #1f2933);
    border: 2px solid #fbbf24;
    color: #fbbf24;
    font-size: 22px;
    flex-direction: column;
}

.card.front2 img{
    margin-top: -15%;
    margin-bottom: 12%;
    border: 5px inset rgba(117, 90, 21, 0.788);
    width: 35%;
    border-radius: 50%;

}
.card:hover img{
    border: 5px inset rgba(255, 183, 0, 0.788);
}
.card.back2{
    transform: rotateY(180deg);
    background-image: url(/picture/card_1-removebg-preview.png);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-color: gold;
}
.tap{
    font-size: .8rem;
    padding-top: 50%;
    animation: blink 1.5s linear infinite;
    opacity: 0.7;
}
@keyframes blink{
    50%{
        opacity: 0;
    }
}
.main{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 102vh;
    background: linear-gradient(to bottom right,rgb(148, 126, 0), darkgoldenrod);
    transition: 1.2s;
    border-radius: 0 0px 40px 40px;
}
._Header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 222, 34);
}
.hed{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 60px;
    
}
.hed.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.hed.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.card:hover p{
    color: rgb(255, 221, 26);
}
footer{
    width: 100%;
    height: 5vh;
    color: #ffffff;
    background-color: #1f2933;
    margin-top: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 5000px){
    .full{width: 1780px;height: vh; margin-top: 260px;perspective: 1000rem; margin-bottom: -205px;}
    .card{width: 500px; height: 820px;}
    footer{font-size: 30px;}
}
@media(max-width: 2559px){
    .full{width: 1030px;height: 70vh; margin-top: 130px;perspective: 1000rem; margin-bottom: -130px;}
    .card{width: 300px; height: 500px;}
    footer{font-size: 20px;}

}
@media(max-width: 1439px){
    .full{
        width: 770px;
        height: 70vh; 
        margin-top: 100px;
        perspective: 1000rem; 
        margin-bottom: -130px;
    }
    .card{width: 220px; height: 350px;}
    footer{font-size: 13px;}
}
@media(max-width: 1023px){
    .full{width: 300px;height: 260vh; margin-top: 50px;perspective: 1000rem; margin-bottom: -140px;
    flex-direction: column;}
    .card{width: 280px; height: 450px;}
}
@media(max-width: 767px){
    .full{
        margin-bottom: 10px;
    }
    .card{
        width: 240px; height: 400px;
    }
}
@media(max-width: 424px){
    .card{
        width: 200px;
        height: 370px;
    }
    .whole.whole1.whole2{
        margin-right: 10px;
    }
}
@media(max-width: 374px){
    .card{
        width: 180px;
        height: 350px;
    }
    .whole.whole1.whole2{
        margin-right: 10px;
    }
}